.comments-container {
    width: 100%;
}

.comments-header{
    margin-top: 5px;
    margin-left: .25em;
    padding-bottom: 1em;
    text-decoration: underline;
}

.comments-text {
    color: black;
}

legend {
    color: blue;
}