.comments-container {
    width: 100%;
}

.comments-header{
    margin-top:5px;
    text-decoration: underline;
}


.comments-text {
    color: black;
}

.comments-username {
    color: blue;
}
legend {
    color: blue;
}