.selected-video {
    margin-right: 20px;
   /*  display: inline-table; */
}

.selected-video__title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}
.selected-video__title--movie-icon {
    width: 1.5em;
    margin-right: 5px;
    margin-bottom: 3px;
}

.selected-video__channel-title-container {
    margin: 1em;
}

.selected-video__channel-title {
    display: flex;
    margin: .5rem 0 .5rem .25rem;
    justify-content: space-between;
}

.selected-video__channel-desc {
    padding: 1em;
    background-color: white;
}

.selected-video__src {
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
}

.video-frame {
  /*   display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    width: 640px;
    height: 390px;
}

.video-frame__btns {
   /*  display:flex;
    justify-content: center;
    gap: 7px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.special-button {
    z-index: 10000;
}