.selected-video {
    margin-right: 20px;
   /*  display: inline-table; */
   display: flex;
   flex-direction: column;
   width: 99%;
   margin-bottom: 1em;
}

.selected-video__title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-video__title--movie-icon {
    width: 1.5em;
    margin-right: 5px;
    margin-bottom: 3px;
}

.selected-video__channel-title-container {
    margin: 1em;
}

.selected-video__channel-title {
    display: flex;
    margin: .5rem 0 .5rem .25rem;
    justify-content: space-between;
}

.selected-video__channel-desc {
    padding: 1em;
    background-color: white;
}

.selected-video__src {
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
    height: 19em;
}

/* .video-frame__btns--container {
    display: flex;
} */

.video-frame {
  /*   display: flex;
    flex-direction: column;
    justify-content: center; */
/*     position: relative; */
    width: 20em;
    height: 20em;
/*     margin: 0em 1em 4em -0.5em; */
}

.video-frame__btns {
   /*  display:flex;
    justify-content: center;
    gap: 7px; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.button-container {
    margin-top: 16.20em;
}

.buttons {
    display: flex;
    justify-content: center;
}

/* .test2 {
    top: 108px;
} */