.video-item__tooltip {
    margin-top: 10em;
    white-space:pre-wrap;
}

.recommended-video__src {
    animation: load 100s;
}

@keyframes load {
    from { clip-path: inset(0rem 0rem 15rem 0rem); filter: blur(5px)}
    to   { clip-path: inset(0rem 0rem 0rem 0rem); filter: blur(0)}
  }