.search-bar {
   /*  margin: 1rem; */
    display: flex;
    flex-direction: column;

}

.search-bar__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.search-bar__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-top: .05em;
    margin: 0em 0em 4em 2em;
   /*  margin: 0 1em 1em 1em;
    height: 2em;
    width: 2em; */
}

.search-bar__logo--image {
    width: 2em;
    height: auto;
    object-fit: contain;
}
.search-bar__title {
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
    padding: .5em;
    font-weight: 800;
    font-size: 22px;
    text-shadow: 1px 1px 0px #ff0000;
}

.search-bar__icon {
  /* padding: 0 .5em 0 0 ; */
/*   display: block;
  max-width:230px;
  max-height:95px; */
  object-fit: contain;
  margin-left: .5em;
  width: 2em;
  height: 2em;
}

.search-bar__input-container {
    display: flex;
   flex-direction: column;
   align-items: center;
}

.search-bar__input {
     display: flex;
}

.search-bar__btns-container {
    display: flex;
    justify-content: center;
}

.search-bar__btns {
    margin: .25em;
    font-size: large;
}

.search-bar__avatar-img {
    border: 1px darkblue solid;
    background-color: white;
    padding: .3em;
    border-radius: 100%;
    max-width: 60%;
    height: auto;
}