.search-bar {
    margin: 1rem;
}

.search-bar__logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.search-bar__title {
    text-align: center;
}

.search-bar__btns {
    margin: .25em;

}