.search-bar {
   /*  margin: 1rem; */
    display: flex;
    flex-direction: column;

}

.search-bar__header {
    display: flex;
    justify-content: space-evenly;
}

.search-bar__logo {
    display: flex;
   /*  justify-content: center; */
   /*  padding-top: .05em; */
    margin: 0em 0em 3em 0em;
   /*  margin: 0 1em 1em 1em;
    height: 2em;
    width: 2em; */
}

.search-bar__logo--image {
    width: 2em;
    height: auto;
    object-fit: contain;
}
.search-bar__title {
    display: flex;
    color: white;
    align-items: center;
    padding: .5em;
    font-weight: 800;
    font-size: 16px;
    text-shadow: 1px 1px 0px #ff0000;
    margin: 0 0.25em 0 -.1em;
}

.search-bar__icon {
  /* padding: 0 .5em 0 0 ; */
/*   display: block;
  max-width:230px;
  max-height:95px; */
  object-fit: contain;
  margin-left: .5em;
  width: 2em;
  height: 2em;
}

.search-bar__input-container {
    display: flex;
    flex-direction: column;
    margin: 0em -1em 0 0em;
}

.search-bar__input {
    display: flex;
    margin-top: 1em;
}

.search-bar__btns-container {
    display: flex;
    justify-content: center;
    margin: 0.5em -5em 1em -8em;
}

.search-bar__btns {
   margin-right: .2em;
    font-size: .2em;
}


.search-bar__avatar {
    align-items: flex-start;
    padding-top: 1em;
}


.search-bar__avatar-img {
    border: 1px darkblue solid;
    background-color: white;
    padding: .3em;
    border-radius: 100%;
    width: 45%;
    max-width: 100%;
    height: auto;
    margin: 0 -2em 0em 2.12em;
}