.app-bar {
    position: absolute; 
    bottom: 0;
    background-color: grey;
    max-width: 100vh;
}

.header-text {
    overflow: hidden;
}


@media only screen and (min-width: 1000px){
    .video-container {
        display: flex;
    }
    .button-container {
        align-items: flex-start;
    }
}

@media only screen and (min-width: 600px){
    .selected-video { 
        margin-right: 1em;
        margin-left: 6em;
        margin-bottom: 1em;
        align-items: center;
    }

    .buttons {
        display: flex;
        margin: 0 5em;
    }

}

@media only screen and (max-width: 599px){
    .selected-video {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
        align-items: inherit;
    }

    .selected-video__src {
        border-radius: 10px;
    }

    .buttons {
        margin: 0 -.25em;
    }

    .button-container {
        align-items: center;
    }

    .related-videos {
        margin-left: .1em
    }
}



@media only screen and (min-width: 400px){
    iframe { 
        width: 29em; 
    }

    .selected-video__src {
        border-radius: 10px;
    }    
}

@media only screen and (max-width: 399px){
    iframe { 
        width: 20em; 
    }

    .selected-video__title--left {
        align-items: self-start;
    }

    .selected-video__src {
        border-radius: 10px;
    }
    .buttons {
        justify-content: center;
    }

   .buttons-volume-container {
        overflow: hidden; 
    } 
}

@media only screen and (min-width: 1450px){
    .selected-video {
        margin-left: 20em;
    }
}

@media only screen and (min-width: 1050px){
    .selected-video {
        margin-left: 15em;
    }
}