body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #168081
/*   background-color: #040080; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.player {
  /* width can be anything, this is just a suggestion */
  width: 350px;
}

.video-container {
  display: flex;
  max-width: 100vw;
  gap: .25em;
}

.selected-video {
  display: inline-table;
}

.selected-video__src {
  max-width: 10000px;
}

.app-bar {
  position: absolute; 
  bottom: 0;
  background-color: grey;
  max-width: 100vh;
}


@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .video-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
  }

  .selected-video {
    display: inline-table;
  }

  .selected-video__src {
    max-width: 200px;
  }

}

@media only screen and (max-width: 800px){
  .selected-video__src {
    max-width: 300px;
  }
}